.money-display{
    font-size: 40px;
}

.money-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.money-button-container {
    display: flex;
    justify-content: center;
}

.money-button {
    font-size: 2em;
    padding: 10px 20px;
    cursor: pointer;
}

.message-log {
    font-size: 1.2em;
    width: 400px;
    height: 200px;
    overflow: hidden;
}

.message {
    padding-top: 10px;
}

.people-container {
    border: 1px solid black;
    padding: 1em 1em;
    font-size: 1.2em;
    margin-left: 50px;
    width: 300px;
}

.click-upgrade-container {
    border: 1px solid black;
    padding: 1em 1em;
    font-size: 1.2em;
    width: 300px;
    margin-right: 50px;
}

.border-dark {
    border: 1px solid rgb(187, 162, 63);
}

.horizontal-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.people {
    margin-top: 10px;
}

.activate-button {
    margin-left: 10px;
    cursor: pointer;
}

.upgrade-text {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dark-mode {
    background-color: rgb(28, 28, 28);
    color: rgb(187, 162, 63);
}
