.money-display{
    font-size: 40px;
}

:root {
    --button-background-color: rgb(226, 230, 193);
    --button-color: rgb(46, 36, 1);
    --button-background-hover: rgb(185, 188, 158);
    --button-hover-color: rgb(56, 105, 3);
    --button-disabled-color: rgb(176, 245, 102);
    --button-disabled-background: rgb(103, 105, 88);
}

button {
    background-color: var(--button-background-color);
    color: var(--button-color);
}

button:hover {
    background-color: var(--button-background-hover);
    color: var(--button-hover-color);
}

button:disabled {
    background-color: var(--button-disabled-background);
    color: var(--button-disabled-color);
}

body {
    background-color: rgb(250, 253, 203);
    color: black;
}

.money-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.money-button-container {
    display: flex;
    justify-content: center;
}

.money-button {
    font-size: 2em;
    padding: 10px 20px;
    cursor: pointer;
}

.message-log {
    font-size: 1.2em;
    width: 400px;
    height: 200px;
    overflow: hidden;
}

.message {
    padding-top: 10px;
    opacity: 0;
}

.people-container {
    border: 1px solid black;
    padding: 1em 1em;
    font-size: 1.2em;
    margin-left: 50px;
    width: 300px;
}

.click-upgrade-container {
    border: 1px solid black;
    padding: 1em 1em;
    font-size: 1.2em;
    width: 300px;
    margin-right: 50px;
}

.border-dark {
    border: 1px solid rgb(187, 162, 63);
}

.horizontal-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.people {
    margin-top: 1em;
}

.activate-button {
    margin-left: 10px;
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;
}

.upgrade-text {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.dark-mode {
    background-color: rgb(28, 28, 28);
    color: rgb(187, 162, 63);
}

.stats-screen-container {
    margin-top: 20px;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.shrink-out{
    animation: 3s forwards shrink;
}

@keyframes shrink {
    from {
        font-size: 40px;
    } to {
        font-size: 0;
    }
}

.fade-in {
    animation: 1s forwards fade-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.game-over-text {
    font-size: 1.5em;
}

.game-over-box {
    min-width: 25vw;
    max-width: 40vw;
    border: 2px solid black;
    padding: 4em 2em;
    opacity: 0;
}

.game-over-box-dark {
    border: 2px solid rgb(187, 162, 63);
}

.end-game-button {
    padding: 10px;
    font-size: 1.2rem;
    max-width: 10rem;
    min-width: 10rem;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.options-banner {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.options-button {
    margin: 0 1em;
    cursor: pointer;
    padding: 1em;
    min-width: 10em;
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: thick double gray;
}

.clone-button {
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1em;
}

.modal-popup {
    max-width: 500px;
    font-size: 1.5em;
    padding: 2em;
    background-color:rgb(250, 253, 203);
}

.dark-modal {
    background-color: rgb(28, 28, 28);
    color: rgb(187, 162, 63);
    border: 2px solid rgb(177, 175, 175);
}

.modal-button {
    padding: 0.5em 1em;
    font-size: 1em;
    margin-top: 1em;
}